<div class="field">
  <%= form.label :password %><br />
  <%= form.password_field :password %>
</div>
<div class="field">
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %>
</div>
