<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-error shadow-md">
    <ul class="flex flex-col mb-0">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>