<% set_meta_tags( title: 'プライバシーポリシー' ) %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-full px-4 md:px-8">
    <p class="mb-2 font-semibold text-secondary md:mb-3 text-2xl">プライバシーポリシー</p>
    <p class="max-w-full text-gray-500 text-md">Okogoto（以下、「当方」といいます。）は、本ウェブアプリ上で提供するサービス（以下、「本サービス」といいます。）におけるお客様の個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「ポリシー」といいます。）を定めます。</p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">お客様から取得する情報</h2>
    <p class="max-w-screen-md text-gray-500 md:text-md">当方は、お客様から以下の情報を取得します。
      <li class="text-gray-500 md:text-md ml-4">氏名（ニックネームやペンネームを含む）</li>
      <li class="text-gray-500 md:text-md ml-4">年齢または生年月日</li>
      <li class="text-gray-500 md:text-md ml-4">性別</li>
      <li class="text-gray-500 md:text-md ml-4">メールアドレス</li>
      <li class="text-gray-500 md:text-md ml-4">Cookie（クッキー）を用いて生成された識別情報</li>
      <li class="text-gray-500 md:text-md ml-4">OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
      <li class="text-gray-500 md:text-md ml-4">当方ウェブサイトの滞在時間、入力履歴、購買履歴等の当方ウェブサイトにおけるお客様の行動履歴</li>
      <li class="text-gray-500 md:text-md ml-4">その他当サービスが定める入力フォームにお客様が入力する情報</li>
    </p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">お客様の情報を利用する目的</h2>
    <p class="max-w-screen-md text-gray-500 md:text-md">当方は、お客様から取得した情報を、以下の目的のために利用します。
      <li class="text-gray-500 md:text-md ml-4">当方サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li class="text-gray-500 md:text-md ml-4">お客様の当方サービスの利用履歴を管理するため</li>
      <li class="text-gray-500 md:text-md ml-4">当方サービスにおけるお客様の行動履歴を分析し、当方サービスの維持改善に役立てるため</li>
      <li class="text-gray-500 md:text-md ml-4">お客様からのお問い合わせに対応するため</li>
      <li class="text-gray-500 md:text-md ml-4">当方の規約や法令に違反する行為に対応するため</li>
      <li class="text-gray-500 md:text-md ml-4">当方サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li class="text-gray-500 md:text-md ml-4">当方規約の変更等を通知するため</li>
      <li class="text-gray-500 md:text-md ml-4">以上の他、当方サービスの提供、維持、保護及び改善のため</li>
    </p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">第三者提供</h2>
    <p class="max-w-full text-gray-500 md:text-md">
      当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</br>
      但し、次の場合は除きます。</br>
      <li class="text-gray-500 md:text-md ml-4">個人データの取扱いを外部に委託する場合</li>
      <li class="text-gray-500 md:text-md ml-4">当方や当方サービスが買収された場合</li>
      <li class="text-gray-500 md:text-md ml-4">事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li class="text-gray-500 md:text-md ml-4">その他、法律によって合法的に第三者提供が許されている場合</li>
    </p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">アクセス解析ツール</h2>
    <p class="max-w-full text-gray-500 md:text-md">
      当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用します。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは
      <%= link_to 'Googleアナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: 'link link-secondary', target: :_blank %>
      をご覧ください。
    </p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">プライバシーポリシーの変更</h2>
    <p class="max-w-full text-gray-500 md:text-md">当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <h2 class="mb-4 text-2xl font-bold text-primary lg:text-lg">お問い合わせ</h2>
    <p class="max-w-full text-gray-500 md:text-md">
      お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、
      <%= link_to '開発者のTwitterアカウント', 'https://twitter.com/cherry_00023', class: 'link link-secondary', target: :_blank %>
      までご連絡ください。
    </p>
  </div>
  <div class="mx-auto max-w-full px-4 md:px-8 mt-4">
    <p class="max-w-full text-gray-500 md:text-md text-end">以上</p>
    <p class="max-w-full text-gray-500 md:text-md text-end">2023年06月23日制定</p>
  </div>
</div>
