<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">みんなのオコゴト</h2>
      <% if !@posts.present? %>
        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"><%= t('.no_result') %></p>
      <% end %>
    </div>
    <!-- text - end -->

    <div class="grid gap-6 sm:grid-cols-2">
      <% if @posts.present? %>
        <%= render @posts %>
      <% end %>
    </div>
  </div>
</div>