<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="join">
    <%= form.email_field :email, class: 'input input-primary border-dashed join-item text-primary placeholder-primary', placeholder: 'okogoto@example.com' %>
    <%= form.submit t('defaults.send_mail'), class: 'btn join-item rounded text-primary bg-gray-100 border-0 focus:outline-none hover:bg-gray-200 text-sm' %>
  </div>
<% end %>
