<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="join">
    <%= form.email_field :email, class: 'input join-item bg-base-200', placeholder: 'email' %>
    <%= form.submit t('defaults.send_mail'), class: 'btn join-item rounded text-gray-700 bg-gray-100 border-0 focus:outline-none hover:bg-gray-200 text-sm' %>
  </div>
<% end %>
